################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/.idea
/frontend/.vscode
/frontend/.idea
/frontend/dist/bundle.js
/frontend/obj/Debug
